# C# / .NET
[Oo]bj/
[Bb]in/
*.user
*.suo

# Rider
.idea/

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Vite (Frontend)
dist/
.env.local
.env.*.local

# VS Code
.vscode/

# macOS
.DS_Store
